@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
li {
    list-style: none;
}
.box {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: absolute;
    margin-left: 42%;
    margin-top: 22%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(13deg);
    -webkit-animation: move 5s linear infinite;
}
.minbox {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 30px;
    -webkit-transform-style: preserve-3d;
}
.minbox li {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
}
.minbox li:nth-child(1) {
    background: linear-gradient(45deg, #ff69b4, #fff1493);
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}
.minbox li:nth-child(2) {
    background: linear-gradient(45deg, #fff1493, #dc143c);
    -webkit-transform: rotateX(180deg) translateZ(50px);
    transform: rotateX(180deg) translateZ(50px);
}
.minbox li:nth-child(3) {
    background: linear-gradient(45deg, #dc143c, #b22222);
    -webkit-transform: rotateX(-90deg) translateZ(50px);
    transform: rotateX(-90deg) translateZ(50px);
}
.minbox li:nth-child(4) {
    background: linear-gradient(45deg, #b22222, #8b0000);
    -webkit-transform: rotateX(90deg) translateZ(50px);
    transform: rotateX(90deg) translateZ(50px);
}
.minbox li:nth-child(5) {
    background: linear-gradient(45deg, #8b0000, #ff69b4);
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px);
}
.minbox li:nth-child(6) {
    background: linear-gradient(45deg, #ff69b4, #ff1493);
    -webkit-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
}

.maxbox {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -20px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.maxbox li {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    transition: all 1s ease;
    background-size: cover;
    border: 3px solid rgba(255, 105, 180, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(255, 105, 180, 0.3);
}
.maxbox li:nth-child(1) {
    background: linear-gradient(135deg, #ff69b4, #ff1493, #dc143c);
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
}
.maxbox li:nth-child(2) {
    background: linear-gradient(135deg, #ff1493, #dc143c, #b22222);
    -webkit-transform: rotateX(180deg) translateZ(100px);
    transform: rotateX(180deg) translateZ(100px);
}
.maxbox li:nth-child(3) {
    background: linear-gradient(135deg, #dc143c, #b22222, #8b0000);
    -webkit-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(100px);
}
.maxbox li:nth-child(4) {
    background: linear-gradient(135deg, #b22222, #8b0000, #ff69b4);
    -webkit-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
}
.maxbox li:nth-child(5) {
    background: linear-gradient(135deg, #8b0000, #ff69b4, #ff1493);
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
}
.maxbox li:nth-child(6) {
    background: linear-gradient(135deg, #ff69b4, #ff1493, #dc143c);
    -webkit-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
}
.box:hover .minbox {
    -webkit-transform: translate3d(0, 0, -50px) rotateX(45deg);
    transform: translate3d(0, 0, -50px) rotateX(45deg);
}
.box:hover .maxbox li:nth-child(1) {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
.box:hover .maxbox li:nth-child(2) {
    -webkit-transform: rotateX(180deg) translateZ(300px);
    transform: rotateX(180deg) translateZ(300px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
.box:hover .maxbox li:nth-child(3) {
    -webkit-transform: rotateX(-90deg) translateZ(300px);
    transform: rotateX(-90deg) translateZ(300px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
.box:hover .maxbox li:nth-child(4) {
    -webkit-transform: rotateX(90deg) translateZ(300px);
    transform: rotateX(90deg) translateZ(300px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
.box:hover .maxbox li:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(300px);
    transform: rotateY(-90deg) translateZ(300px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
.box:hover .maxbox li:nth-child(6) {
    -webkit-transform: rotateY(90deg) translateZ(300px);
    transform: rotateY(90deg) translateZ(300px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}

@keyframes move {
    0% {
        -webkit-transform: rotateX(13deg) rotateY(0deg);
        transform: rotateX(13deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateX(13deg) rotateY(360deg);
        transform: rotateX(13deg) rotateY(360deg);
    }
}
@-webkit-keyframes move {
    0% {
        -webkit-transform: rotateX(13deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateX(13deg) rotateY(360deg);
    }
}
/*添加爱心装饰*/
.minbox li::before {
    content: "♥";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    animation: pulse 2s ease-in-out infinite;
}
.maxbox li::before {
    content: "♥";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
    0%, 100% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.2); }
}
/*响应式设计*/
@media (max-width: 768px) {
    .box {
        margin-left: 35%;
        margin-top: 40%;
        width: 150px;
        height: 150px;
    }
    .minbox {
        width: 75px;
        height: 75px;
        left: 37px;
        top: 22px;
    }
    .minbox li {
        width: 75px;
        height: 75px;
    }
    .maxbox {
        width: 150px;
        height: 150px;
    }
    .maxbox li {
        width: 150px;
        height: 150px;
    }
}